<%include ../layout/header.ejs %>

<table border="1">
  <tr>
    <th>user ID</th>
    <th>user name</th>

    <th>Actions</th>
  </tr>

  <% users.forEach(function(user){ %>
  <tr>
    <!-- <td><%= user._id %></td> -->
    <td><%= user.name %></td>
    <td><%= user.email %></td>
      <td><%= user.password %></td>
    <td><img src= <%= user.image %> > </td>
    <td>
      <a href="/users/edit/<%= user._id %>">Edit</a>
     </td>
  </tr>
  <%})%>
</table>
<%include ../layout/footer.ejs %>
